html {
  color: #556b72;
  background-color: #FDF6E3;
}

.linenr {
  color: #657b83;
  background-color: #002b36;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: -0.5em;
  margin-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: "Source Code Pro", "Droid Sans Mono", "Monaco", "menlo", "Ubuntu Mono", "DejaVu Sans Mono", consolas, courier, monospace;
  box-shadow: none;
  border: none;
  font-size: 85%;
}

.linenr::before {
  content: ' ';
}

.linenr::after {
  content: ' ';
}

.org-src-container pre {
  color: #839496;
  background-color: #002b36;
  font-family: "Source Code Pro", "Droid Sans Mono", "Monaco", "menlo", "Ubuntu Mono", "DejaVu Sans Mono", consolas, courier, monospace;
  box-shadow: none;
  border: none;
  padding: 0.5em 0 0.5em 0.5em;
  font-size: 95%;
  overflow: auto;
}
