.linenr {
  color: #a8a8bf;
  background-color: #efeae9;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: -1em;
}

.linenr::before {
  content: ' ';
}

.linenr::after {
  content: ' ';
  background-color: #fbf8ef;
}

.linenr:first-child::after {
  padding-top: 0.3em;
}

.linenr:first-child {
  padding-top: 0.3em;
}

pre.src {
  background-color: #fbf8ef;
  font-family: "Droid Sans Mono", "Source Code Pro", Monaco, menlo, "Ubuntu Mono", "DejaVu Sans Mono", consolas, courier, monospace;
  box-shadow: none;
  border: none;
  color: black;
  padding: 0.3em 0 0.3em 1em;
  font-size: 95%;
  overflow: auto;
}

pre.prettyprint {
  font-family: "Droid Sans Mono";
  border: none;
  padding: 5pt;
}

pre.prettyprint li {
  margin: 0;
  list-style-image: none;
}
