.linenr {
  color: #a8a8bf;
  background-color: #efeae9;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: -0.5em;
  margin-right: 0.5em;
}

.linenr::before {
  content: ' ';
}

.linenr::after {
  content: ' ';
}

pre.src {
  background-color: #fbf8ef;
  font-family: "Source Code Pro", "Droid Sans Mono", Monaco, menlo, "Ubuntu Mono", "DejaVu Sans Mono", consolas, courier, monospace;
  box-shadow: none;
  border: none;
  color: black;
  padding: 0.5em 0 0.5em 0.5em;
  font-size: 95%;
  overflow: auto;
}
